body {
	background-color: #ccc
}

#console {
	font-family: 'Nixie One', monospace;
	color: #333;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
	font-size: 16px;
}

a {
	color: #0bc;
	text-decoration: none;
}

#a {
	color: #369;
}

#c {
	color: #369;
}

#b {
	color: #da2f46;
}

#k {
	animation: change 1s;
}

#op {
	color: #222
}

@keyframes change {
	0%  { color: #000; }
	50% { color: #000; }
	99% { color: #ccc; }
}
