body {
	background-color: #f4f4f4
}

#console {
	font-family: 'Nixie One', monospace;
	color: #424242;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
	font-size: 16px;
}

a {
	color: #6d6d6d;
	text-decoration: none;
}

#prompt {
	color: #1b1b1b;
}

/* #k {
	animation: change 1s;
}

@keyframes change {
	0%  { color: #000; }
	50% { color: #000; }
	99% { color: #ccc; }
} */
